{% extends 'base.html' %}

{% block content %}
    <h1 class="my-4">
        <small>{{ model_name }} List</small>
    </h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
    {% if object_list %}
        <div class="col-12" style="overflow-x: scroll">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    {% for name, value in object_list.0.get_fields %}
                        <th scope="col">{{ name }}</th>
                    {% endfor %}
                    <th scope="col">View</th>
                    <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for object in object_list %}
                <tr>
                    {% for name, value in object.get_fields %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    <td><a href="{% url model_name|add:'_view' object.pk %}"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></td>
                    <td><a href="{% url model_name|add:'_delete' object.pk %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            There is no {{ model_name }}, yet. But if you want, you can add from <a class="badge badge-info" href="{% url model_name|add:'_new' %}"><strong>here.</strong></a>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}